.aboutContainer section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  gap: 1.5rem;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.skillItem {
  background-color: #20262c;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: white;
}
