.logo {
  width: 1.75rem;
  height: 1.75rem;
  color: #121212;
}

.headerContainer {
  padding: 0.75rem 2.5rem;
  border-bottom: #f0f2f5 solid 1px;
  display: flex;
  justify-content: space-between;
}

.nameContent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: -0.015em;
  gap: 0.5rem;
}

.menuContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #121212;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.nav-links select {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #121212;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: flex;
    gap: 0.7rem;
    padding-left: 1.2rem;
  }

  .menu-icon a {
    text-decoration: none;
    color: #121212;
  }

  #languageSelect {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #121212;
  }
}
