@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Public Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #111418;
}

html {
  scroll-behavior: smooth;
}

/* dark (aplicada via Provider) */
body.dark {
  background: #0f1115;
  color: #e6e9ef;
}

h1 {
  font-size: 1.5rem; /* ou o valor que quiser */
  line-height: 1.2;
}
